[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-yay"]
	path = dotbot-yay
	url = https://github.com/alexwh/dotbot-yay
    shallow = true
[submodule "dotbot_plugin_aptget"]
	path = dotbot_plugin_aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget
    shallow = true
[submodule "vim/vundle"]
    path = vim/bundle
    url = https://github.com/VundleVim/Vundle.vim.git
    shallow = true
[submodule "vim/bundle"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
