{{ if (eq .chezmoi.os "linux") -}}

#!/bin/sh

{{ if (eq .chezmoi.osRelease.id "ubuntu" "debian")}}

sudo add-apt-repository ppa:neovim-ppa/unstable

sudo apt update
sudo apt install -y \
        build-essential \
        firefox \
        gdb \
        neovim \
        nodejs \
        python-dev \
        python-pip \
        python3-dev \
        pyhton3-pip \
        ripgrep \
        tree \
        zsh 

{{ else -}}

sudo sed -i '/Color$/s/^#//g' /etc/pacman.conf
sudo sed -i '/TotalDownload$/s/^#//g' /etc/pacman.conf
sudo sed -i '/CheckSpace$/s/^#//g' /etc/pacman.conf

sudo pacman -Syy

sudo pacman -S --noconfirm --needed git base-devel

if ! type yay&>/dev/null; then #install yay
	YAY_PATH=/tmp/yay
	if [ -d $YAY_PATH ]; then
		sudo /usr/bin/rm -rf $YAY_PATH
	fi
	git clone https://aur.archlinux.org/yay.git $YAY_PATH
	(cd $YAY_PATH && makepkg -si)
fi

yay -S \
    bat \
    firefox \
    gdb \
    neovim \
    nodejs \
    ripgrep \
    tree \
    zsh 

{{ end -}}

#oh_my_zsh

sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" 
sudo usermod --shell $(which zsh) boba

#Plugins for oh_my_zsh

git clone https://github.com/zsh-users/zsh-syntax-highlighting.git \
    ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting

git clone https://github.com/zsh-users/zsh-autosuggestions \
    ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions

#theme

git clone --depth=1 https://github.com/romkatv/powerlevel10k.git \
    ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k

#fzf fuzzy finder
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf && ~/.fzf/install

git clone https://github.com/pabloariasal/zfm \
    ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zfm

#NvChad
git clone https://github.com/NvChad/NvChad ~/.config/nvim
nvim +'hi NormalFloat guibg=#1e222a' +PackerSync

{{ end -}}
